<div class="notification notification-subscribe">
    <a class="notification-close" href="javascript:;"></a>
    You've successfully subscribed to {{@site.title}}
</div>

<div class="notification notification-signup">
    <a class="notification-close" href="javascript:;"></a>
    Great! Next, complete checkout for full access to {{@site.title}}
</div>

<div class="notification notification-signin">
    <a class="notification-close" href="javascript:;"></a>
    Welcome back! You've successfully signed in
</div>

<div class="notification notification-checkout">
    <a class="notification-close" href="javascript:;"></a>
    Success! Your account is fully activated, you now have access to all content.
</div>
