<nav class="pagination" role="pagination">
	<div class="inner">
		{{#if prev}}
		<a class="pagination-next" href="{{pageUrl prev}}"><i class="ic ic-arrow-left"></i> <span class="pagination-label">Newer Posts</span></a>
		{{/if}}
		<span class="pagination-info">Page {{page}} of {{pages}}</span>
		{{#if next}}
		<a class="pagination-prev" href="{{pageUrl next}}"><span class="pagination-label">Older Posts</span> <i class="ic ic-arrow-right"></i></a>
		{{/if}}
		<div class="clear"></div>
	</div>
</nav>