{{#get "authors"}}
    {{! Loop through authors }}
    <div class="authors-container">
        {{#foreach authors}}
            {{#if profile_image}}
                <div class="author-image-container">
                    <img class="author-profile-image" src='{{ profile_image }}' alt='{{ name }}'>
                </div>
            {{/if}}
        {{/foreach}}
    </div>
{{/get}}