{{#get "authors"}}
    {{! Loop through authors }}
    <div class="authors-container">
        {{#foreach authors}}
        <div class="author-image-container">
            <img class="author-profile-image" src='{{ profile_image }}' alt='{{ name }}'>
        </div>
        {{/foreach}}
    </div>
{{/get}}