@font-face {
	font-family: 'TTNorms-Arial-fallback';
	size-adjust: 98%;
	src: local('Arial');
}

@font-face {
	font-family: 'TT Norms';
	font-display: swap;
	font-style: normal;
	font-weight: 100;
	src: local('TT Norms'), url('../fonts/ttnorms-woff2/TTNorms-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'TT Norms';
	font-display: swap;
	font-style: normal;
	font-weight: 200;
	src: local('TT Norms'), url('../fonts/ttnorms-woff2/TTNorms-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'TT Norms';
	font-display: swap;
	font-style: normal;
	font-weight: 300;
	src: local('TT Norms'), url('../fonts/ttnorms-woff2/TTNorms-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'TT Norms';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: local('TT Norms'), url('../fonts/ttnorms-woff2/TTNorms-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'TT Norms';
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: local('TT Norms'), url('../fonts/ttnorms-woff2/TTNorms-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'TT Norms';
	font-display: swap;
	font-style: normal;
	font-weight: 700;
	src: local('TT Norms'), url('../fonts/ttnorms-woff2/TTNorms-Bold.woff2') format('woff2');
}


@font-face {
	font-family: 'TT Norms';
	font-display: swap;
	font-style: normal;
	font-weight: 800;
	src: local('TT Norms'), url('../fonts/ttnorms-woff2/TTNorms-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'TT Norms';
	font-display: swap;
	font-style: normal;
	font-weight: 900;
	src: local('TT Norms'), url('../fonts/ttnorms-woff2/TTNorms-Black.woff2') format('woff2');
}

@font-face {
	font-family: 'TT Norms';
	font-display: swap;
	font-style: normal;
	font-weight: 1000;
	src: local('TT Norms'), url('../fonts/ttnorms-woff2/TTNorms-Heavy.woff2') format('woff2');
}