// Normal blues
$blue-900: #2472D3;
$blue-500: #70B0FF;
$blue-400: #ADD2FF;

// Dark blues
$darkblue-900: #000920;
$darkblue-800: #101F3E;
$darkblue-700: #21335A;
$darkblue-600: #344F88;

// Weird whites
$mauve-1000: #7D8CB6;
$mauve-900: #B0BCDC;
$mauve-500: #DEE7FF;

// Reds
$red-500: #FF3C5F;
$red-700: #CA1148;

// Misc
$modal-overlay: rgba(33, 51, 90, 0.7);

// Breakpoints
$tablet: 1024px;

// Font weights
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-block: 700;