@import url('https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');

@import "./variables";
@import "./mixins/breakpoints";

@import "colors";
@import "./typography";

$breakpoint-large: 960px;
$breakpoint-medium: 640px;
$breakpoint-small: 480px;
$inner: 960px;

@import "./components/header";
@import "./components/footer";

/* ==========================================================================
   Basics
   ========================================================================== */
html {
	overflow-x: hidden;
}

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

body {
	background: $color-background;
	color: $mauve-500;
	font-family: 'Rubik', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	overflow-x: hidden;
}

i[class^="ri-"] {
  color: $blue-500;
  font-size: 1.25rem;
}

.post-content {
	ol,
	ul {
		margin: 0 0 2rem;
		padding-left: 2em;
		box-sizing: border-box;
	}

	ul {
		list-style: none;
	}

	li {
		margin-bottom: .5rem;
		position: relative;
	}

	ol > li:before,
	ul > li:before {
		position: absolute;
		width: 1.5em;
		margin-left: -2em;
		font-weight: 500;
		text-align: right;
	}

	ul > li:before {
		margin-top: -1px;
		content: '—';
	}

	ol {
		list-style-type: none;
		counter-reset: item;
	}

	ol > li:before {
		content: counter(item) ". " !important;
		counter-increment: item;
	}

	ol ol,
	ol ul,
	ul ol,
	ul ul {
		padding-left: 30px;
		margin: 15px 0;
	}

	hr {
		display: block;
		height: 1px;
		margin: 0 0 2.5rem;
		padding: 0;
		background: $color-border;
		border: 0;
	}

	img {
		margin-bottom: 2rem;
		max-width: 100%;
	}

	pre {
		background: $darkblue-900;
		border-radius: .5rem;
		margin-bottom: 2rem;
		padding: 1.5rem;
		white-space: pre-wrap;
	}

	code {
		background: $darkblue-900;
		border-radius: .25rem;
		padding: .125rem .25rem;
	}
}
/* ==========================================================================
    Misc
    ========================================================================== */
.clear {
	clear: both;
}

.hidden {
	display: none;
}

.avatar {
	position: relative;
	overflow: hidden;
	margin: 0;
	border: 2px solid $color-border;
	box-sizing: border-box;

	&:after,
	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		width: 50%;
		height: 50%;
		bottom: 32.5%;
		left: 25%;
		border-radius: 100%;
		box-sizing: border-box;
	}

	&:after {
		width: 80%;
		bottom: -25%;
		left: 10%;
	}

	img {
		position: relative;
		z-index: 2;
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
/* ==========================================================================
   Header
   ========================================================================== */
.blog-header {
	margin: 0;
	position: relative;

	&.has-cover {
		padding-top: calc(24rem + 8vw);
		overflow: hidden;
		text-shadow: 0 1px 2px rgba(0,0,0,0.1);

		&:after {
			display: none;
		}
	}

	.blog-box {
		position: relative;
		z-index: 10;
		padding-bottom: 5rem;
		text-align: center;
		border-bottom: 1px solid $color-border;

		@media only screen and (max-width: $breakpoint-medium) {
			padding-bottom: 3rem;
		}
	}

	&.has-cover .blog-box {
		border: none;
		padding-bottom: calc(8rem + 4vw);
	}
}

.blog-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 5;
	display: flex;
	align-items: center;

	img {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
		z-index: 6;
		object-fit: cover;
	}
}

.blog-name {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.blog-description {
	margin-top: 1rem;
}

.archive {
	position: relative;
	z-index: 10;

	&.archive-box {
		padding-bottom: calc(4rem + 2vw);
		border-bottom: 1px solid $color-border;
	}

	.archive-info {
		display: flex;
		margin-bottom: 2rem;

		.archive-count {
			position: relative;
			margin-left: 3rem;
		}
	}

	.archive-title {
		margin: 1rem 0;
	}

	.archive-description {
		display: block;
		margin: 1rem 0;
	}

	.archive-links {
		display: block;
		margin-top: 1rem;

		a {
			span {
				display: none;
			}
		}
	}

	&.archive-search {
		border: 0;
	}

	&.archive-author {
		padding-left: 16rem;
		@media only screen and (max-width: $breakpoint-medium) {
			padding-left: 0;
			padding-right: 10rem;
		}

		.archive-avatar {
			position: absolute;
			top: 0;
			left: 2rem;
			width: 10rem;
			height: 10rem;
			border-radius: 8rem;
			overflow: hidden;
			@media only screen and (max-width: $breakpoint-medium) {
				left: auto;
				right: 0;
				top: 2rem;
				width: 8rem;
				height: 8rem;
			}
		}
	}

	&.archive-tag {}
}

.has-cover {
	.archive {
		&.archive-box {
			border: none;
		}
	}
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
	padding-right: 0;
}

.inner {
	max-width: $inner;
	margin: 0 auto;
	padding: 0 2rem;

	@media only screen and (max-width: $breakpoint-medium) {
		padding: 0 1.5rem;
	}
}
/* ==========================================================================
   Index
   ========================================================================== */
.container {
	position: relative;

	.post .post-box {
		padding: 2rem 0;
		border-bottom: 1px solid $color-border;
	}

	#results .post .post-box {
		border-top: 1px solid $color-border;
	}
}
/* ==========================================================================
   Post
   ========================================================================== */
.post-header {
	position: relative;
}

.post-header.has-cover {
	padding: calc(16rem + 8vw) 0 calc(4rem + 6vw);
	margin-bottom: calc(4rem + 2vw);
	overflow: hidden;
	text-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.post-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 5;
	background: no-repeat scroll center center / cover #000;
	display: flex;
	align-items: center;

	img {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
		z-index: 6;
		object-fit: cover;
	}
}

.post {
	position: relative;
	z-index: 10;
}

.post-info {
	position: relative;
	z-index: 10;
	display: flex;
	margin-bottom: 2rem;

	.post-count {
		position: relative;
		margin-left: 3rem;

		&:after {
			content: '';
			position: absolute;
			left: -2rem;
			top: 50%;
			width: 1rem;
			height: 1px;
		}
	}
}

.post-title {
	position: relative;
	z-index: 10;
	margin: 0 0 2rem;

	a {
		color: $mauve-500;
		text-decoration: none;
		font-weight: inherit;
	}
}

.post-header .post-title {
	margin: 0 0 2.5rem;
}

.post-meta {
	font-weight: 400;

	a {
		display: inline-block;
		text-decoration: none;

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}
}

.post-header .post-meta {
	position: relative;
	padding-bottom: 4rem;
	z-index: 10;

	&:after {
		clear: both;
		content: '';
		display: table;
	}

	&:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 8rem;
		height: 1px;
	}

	.post-meta-avatars {
		float: left;
		margin-right: 1rem;

		&:after {
			clear: both;
			content: '';
			display: table;
		}

		.post-meta-avatar {
			float: left;
			display: block;
			vertical-align: top;
			width: 4rem;
			height: 4rem;
			margin-right: -1rem;
			border-radius: 100%;

			&:last-child {
				margin-right: 0;
			}

			a {
				height: 100%;
			}
		}
	}

	.post-meta-author {
		font-weight: 500;
		margin: 0;
	}
}

.has-cover .post-meta {
	padding: 0;

	&:before {
		display: none;
	}
}

.post-excerpt {
	margin: 1em 0 0;
}

.post-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.post-content > * {
	min-width: 100%;
	max-width: 100%;
	box-sizing: border-box;

	&:last-child {
		margin-bottom: 0;
	}

	&:first-child {
		margin-top: 0;
	}
}
main.content {
	flex: 1;
}
/* ==========================================================================
   Post Info
   ========================================================================== */
.post-footer {
	margin: 12rem 0 6rem;

	&:after {
		clear: both;
		content: '';
		display: table;
	}
}

.post-info-label {
	margin-right: 0.75em;
	font-weight: 400;
}

.post-share {
	align-items: center;
	position: relative;
	max-width: 33.33333%;
	float: right;
	display: flex;
	@media only screen and (max-width: $breakpoint-medium) {
		max-width: none;
		float: none;
		margin-bottom: 2rem;
	}
}

.post-share a {
	align-items: center;
	background: #000920;
	border-radius: 50%;
	display: flex;
	height: 2rem;
	justify-content: center;
	margin-right: .5rem;
	text-decoration: none;
	width: 2rem;

	i {
		color: $mauve-500;
	}
}

.post-share a:last-child {
	margin-right: 0;
}

.post-share .twitter {
	background-color: $color-social-twitter;
}

.post-share .facebook {
	background-color: $color-social-facebook;
}

.post-share .linkedin {
	background-color: $color-social-linkedin;
}

.post-share .email {
	background-color: $color-social-mail;
}

.post-tags {
	position: relative;
	max-width: 66.66666%;
	float: left;
	display: flex;
	flex-wrap: wrap;
	@media only screen and (max-width: 640px) {
		max-width: none;
		float: none;
		margin-bottom: 2rem;
	}
}

.post-tags a {
	display: inline-block;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	padding: 0 1.5rem;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	border-radius: 2em;
	box-sizing: border-box;
	white-space: nowrap;
}
/* ==========================================================================
   Post Subscribe
   ========================================================================== */
.post-subscribe {
	position: relative;
	padding: 4rem 0;
	margin: 1em 0;
	text-align: center;
	box-sizing: border-box;
	border-radius: 2px;

	p {
		max-width: 13.33334em;
		margin: 0 auto 1.33334em;
	}

	.post-subscribe-form {
		display: flex;
		justify-content: center;

		.post-subscribe-input {
			width: 100%;
			height: 2.5em;
			padding: 0 0.25em 0 1.25em;
			border: 0;
			border-right: none;
			appearance: none;
			outline: none;
			box-shadow: none;
			box-sizing: border-box;
			border-radius: 4em 0 0 4em;
		}

		.post-subscribe-button {
			display: inline-block;
			height: 2.5em;
			padding: 0 1.25em 0 1em;
			font-weight: 500;
			border: 0;
			appearance: none;
			outline: none;
			box-shadow: none;
			box-sizing: border-box;
			border-radius: 0 4em 4em 0;
		}
	}
}
/* ==========================================================================
   Post Comments
   ========================================================================== */
.post-nav {
	position: relative;
	margin-top: -1px;
	border-top: 1px solid $color-border;
	border-bottom: 1px solid $color-border;
}

.post-nav:after {
	position: absolute;
	content: '';
	width: 1px;
	height: 100%;
	left: 50%;
	top: 0;
	z-index: 2;
	@media only screen and (max-width: $breakpoint-medium) {
		display: none;
	}
}

.post-nav-next,
.post-nav-prev {
	text-decoration: none;
	display: block;
	width: 50%;
	@media only screen and (max-width: $breakpoint-medium) {
		display: block;
		width: 100%;
	}
}

.post-nav-next {
	float: left;

	.post-nav-teaser {
		padding-right: 3rem;
		@media only screen and (max-width: $breakpoint-medium) {
			padding-right: 0;
		}
	}
}

.post-nav-prev {
	float: right;

	.post-nav-teaser {
		padding-left: 3rem;
		@media only screen and (max-width: $breakpoint-medium) {
			padding-left: 0;
		}
	}
}

.post-nav-teaser {
	position: relative;
	padding: 2rem 0;
	min-height: 8rem;
	@media only screen and (max-width: $breakpoint-medium) {
		min-height: 4em;
		padding: 2em 0;

		&:after {
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			left: 0;
			bottom: 0;
			margin-bottom: -1px;
			z-index: 2;
		}
	}
}

.post-nav i {
	position: absolute;
	top: 50%;
	width: 4rem;
	height: 4rem;
	text-align: center;

	&:before {
		margin: 0;
		width: auto;
	}
}

.post-nav-next i {
	left: 0;
	margin-left: -4rem;
}

.post-nav-prev i {
	right: 0;
	margin-right: -4rem;
}

.post-nav-title {
	margin: 0 0 0.5rem;
	padding: 0;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post-nav-excerpt {
	height: 5rem;
	margin: 0 0 1rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post-nav-meta {
	margin: 0;
}
/* ==========================================================================
   Pagination
   ========================================================================== */
.pagination {
	position: relative;
	margin: 0;

	.pagination-box {
		padding-top: calc(2rem + 1vw);
		padding-bottom: calc(2rem + 1vw);

		&:after {
			clear: both;
			content: '';
			display: table;
		}
	}
}

.pagination a {
	position: relative;
	display: block;
	height: 4rem;
	margin: -1px 0;
	padding: 0 2rem;
	z-index: 100;
	border: 1px solid $color-neutral-80;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	border-radius: 4rem;
	box-sizing: border-box;
}

.pagination .pagination-prev {
	float: right;
	padding-right: 1.5rem;
}

.pagination .pagination-next {
	float: left;
	padding-left: 1.5rem;
}

.pagination .pagination-label {
	position: relative;
	top: -1px;
	display: inline-block;
	@media only screen and (max-width: $breakpoint-small) {
		display: none;
	}
}

.pagination a i {
	position: relative;
	top: 1px;
	width: auto;
	margin: auto 4px;

	&:before {
		position: relative;
		width: auto;
		margin: auto;
	}
}

.pagination .pagination-info {
	position: absolute;
	width: 100%;
	height: 2.5rem;
	left: 0;
	z-index: 50;
	display: block;
	text-align: center;
}

.extra-pagination {
	display: none;
}

.paged .extra-pagination {
	display: block;

	.pagination-box {
		border-bottom: 1px solid $color-border;
	}
}