{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<header class="post-header">
	<div class="inner">
		<h1 class="post-title">{{{title}}}</h1>
	</div>
</header>

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">
			
			<section class="post-content">
				<hr class="links" />
				{{content}}
			</section>

		</div>
	</article>
</main>

{{/post}}


{{#contentFor "scripts"}}
<script>
  $(document).ready(function () {
	if($('.links').length != 0 ){
    $('.kg-bookmark-card').wrapAll("<div class='links kg-width-full kg-header-card kg-card'></div>")
	$('.kg-bookmark-card a').attr('target','_blank')
	$('hr.links').remove()}
  });
</script>
{{/contentFor}}
