{{!< default}} {{! Everything inside the #post tags pulls data from the post }} {{#post}} <header class="post-header">
	<div class="inner">
		<h1 class="post-title">{{{title}}}</h1>
	</div>
	</header>

	<main class="content" role="main">
		<article class="{{post_class}}">
			<div class="inner">
				<section class="post-content">
					{{content}}
					<ul class="talks">
					</ul>

				</section>

			</div>
		</article>
	</main>

	{{/post}}

	<script type="text/x-tmpl" id="tmpl-memos">
		{% for (var i=0; i<o.data.length; i++) { %}
		<li class="timeline page-1">
			<div class="talks__avatar"><img src="//www.gravatar.com/avatar/2536ab18e7654229cb2fb11ecf787ad6?s=250&d=mm&r=x" alt="" /></div>
			<div class="talks__content">
				<div class="talks__text">
					<p>{%# o.data[i].content.replace(/!\[(.*?)\]\((.*?)\)/mg, "<div class='talks__img'><img src=\"//" + o.url + "$2" + "\" /></div>") %}
					</p>
				</div>
				<div class="talks__meta"><small class="talks__date">{%= new Date(o.data[i].createdTs * 1000).toLocaleString() %}</small></div>
			</div>
		</li>
		{% } %}

	</script>


	{{#contentFor "scripts"}}
	{{#if @custom.memos_url}}
		<script>
		$(document).ready(function () {
			var url = "{{{ @custom.memos_url }}}";
			$.getJSON(url, function(data,status,xhr){
				data['url'] = this.url.match(/http:\/\/([^\/]+)\//i)[1];
				$('.talks').html(tmpl('tmpl-memos', data))
			});
		});
		</script>
	{{/if}}
	{{/contentFor}}