@font-face {
	font-family: 'icons';
	src:	url('../fonts/icons.eot?51058516');
	src:	url('../fonts/icons.eot?51058516#iefix') format('embedded-opentype'),
			url('../fonts/icons.woff?51058516') format('woff'),
			url('../fonts/icons.ttf?51058516') format('truetype'),
			url('../fonts/icons.svg?51058516#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
 
[class^="ic-"]:before,
[class*=" ic-"]:before {
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
}
 
.ic-star:before { content: '\e800'; } /* '' */
.ic-rss:before { content: '\e801'; } /* '' */
.ic-posts:before { content: '\e802'; } /* '' */
.ic-location:before { content: '\e803'; } /* '' */
.ic-link:before { content: '\e804'; } /* '' */
.ic-googleplus:before { content: '\e805'; } /* '' */
.ic-facebook:before { content: '\e806'; } /* '' */
.ic-arrow-right:before { content: '\e807'; } /* '' */
.ic-arrow-left:before { content: '\e808'; } /* '' */
.ic-twitter:before { content: '\e809'; } /* '' */
.ic-menu:before { content: '\e80a'; } /* '' */